html {
    font-family: 'Trebuchet MS';
    background-image: url('imgs/background.png');
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(252, 252, 252, 0);
    color: white;
}

.current-time {
    margin: 20vh 720px 50px 700px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    border: 6px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.current-time h1 {
    margin: 20px;
}

.main-container {
    margin: 0px 525px 0px 525px;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-bar {
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.content-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.content-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.content-logo {
}
.content-title {
}
.content-timer {
}