@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

::selection {
  background-color: #49229d;
  color: rgb(255, 255, 255);      
}

html {
  font-family: 'DM Sans';
  background-image: url('./imgs/background.webp');
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(252, 252, 252, 0);
  color: white;
}

.current-time {
    margin: 0px auto;
    margin-top: 380px;
    width: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(50px);
    border: 6px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.current-time h1 {
    margin: 0;
    margin-top: 20px;
    font-size: 80px;
}

.current-time h2 {
    font-size: 30px;
}

.contentContainer {
    margin: 0px auto;
    margin-top: 400px;
    width: 850px;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.content-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.content-logo {
    max-width: 190px;
    height: auto;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    border-radius: 12px;
    filter: drop-shadow(rgb(0, 0, 0) 0px 0px 10px);
}

.content-logo:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.content-title {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.content-paragraph {
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}
.content-timer {
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}

.footer {
    margin: 65px 525px 0px 525px;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer p {
    font-size: 30px;
    font-weight: bolder;
}

.footer audio {
    margin-left: 40px;
    width: 400px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .content-logo {
        display: none;
    }
}